<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.socialtrainee" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/3.5.0">
    <name>Social Trainee</name>
    <description>
        O Social Trainee é um aplicativo desenolvido de alunos para alunos. Suas funcionalidades são baseadas em treinar e capacitar com jogos.
    </description>
    <author email="leonardomarinho.nf@gmail.com">
        Leonardo Herdy Marinho | LHM
    </author>
    <content src="index.html"/>
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto"/>
    <gap:plugin name="org.apache.phonegap.vibration" />
    
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icon/android/drawable-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icon/android/drawable-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icon/android/drawable-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icon/android/drawable-xhdpi.png" />

    <access/>
</widget>
