/*Background de fundo das telas*/
body {
	background-color: #000F19;
}


.botao {
/*Tamanho dos botões*/
	width: 80%;
}

.centralizar {
	text-align : center;
}

.margem {
	margin: 15px;
	padding: 10px;
}

.texto {
	color: #FFF;
	font-family: "Times New Roman", Georgia, Serif;
}

#imgbackgroundSplashscreen {
	position: absolute;
	background-repeat: no-repeat;
	width: 100% ;
	height: 100%;
	text-align: left;
	background-position: top left;
}
.splashImg {
	position: absolute;
	width: 50%;
	height: 50%;
	padding: 25%;
}


.Paragrafo {
	font-family: "Arial", Georgia, Serif;
	text-align: left;
	color: #FFF;
	font-size: 1.5em;
}

.Esquerda {text-align: left;}

#ContainerHome {
	margin-top: 10%;
}




/*Copiado*/
.radio, .checkbox{
	margin-bottom:0;
    margin-top:0;
}
.radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
	margin-bottom:6px;
	color: #777a80;
}

.radio input[type=radio] {
	display: none;
}
.radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 2.5px;
	background-color: #fff;
	 border:1px solid #c2c6cb;
	border-radius: 99px;
}


.radio label:after {
  font-size: 13px;
  content: "";
  text-align: center;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 99px;
  left:0px;
  top:1px;   
  background-color: #6f7b8a;  
  border:1px solid #6f7b8a;
}
.radio input[type=radio][disabled]+ label{	
	 opacity: 0.65;
}